$blue: #17C1FF;
$opaBlue: rgba(23, 193, 255, 0.72);

.rating-login-view {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px .5% 0px;
    box-sizing: border-box;

    .login-form {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &__greeting {
        font-size: 24px;
        line-height: 40px;
        color: $opaBlue;
        margin-bottom: 15%;

        .break {
          display: block;
        }
        .large {
          font-size: 46px;
          color: $blue;
        }
      }

      &__username {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 55px;
        width: 80%;

        .input-username {
          border: none;
          border-bottom: 1px solid $blue;
          padding: 10px 0px;
          font-size: 16px;
          outline: none;
          color: #B2B2B2;

          &::placeholder {
            color: #B2B2B2;
          }
        }
      }
      &__password {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 30px;
        width: 80%;

        .input-password {
          border: none;
          border-bottom: 1px solid $blue;
          padding: 10px 0px;
          font-size: 16px;
          outline: none;
          color: #B2B2B2;

          &::placeholder {
            color: #B2B2B2;
          }
        }
      }

      &__submit {
        border-radius: 30px;
        padding: 8px 25px;
        color: #fff;
        font-size: 16px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17c1ff+0,3da2fa+100 */
        background: #17c1ff; /* Old browsers */
        background: -moz-linear-gradient(left, #17c1ff 0%, #3da2fa 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #17c1ff 0%,#3da2fa 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #17c1ff 0%,#3da2fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17c1ff', endColorstr='#3da2fa',GradientType=1 ); /* IE6-9 */
        border: none;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.16);
      }
    }
  }

  &__image {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('http://via.placeholder.com/1000x1000');
    background-size: cover;
  }
}
