.rating-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;

  #rate-form {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .headline {
    color: #606060;
    margin-bottom: 10%;
    font-size: 5em;
    font-weight: 600;
    width: 85%;
    text-align: center;
    letter-spacing: 1px;
    user-select: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    .smileys {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: row-reverse;
    }

    label {
      position: relative;
      margin: 20px;
      width: 25%;

      .smiley-span {
        width: 100%;
        height: auto;
        display: flex;

        &.hide {
          display: none;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          user-select: none;
        }

        &.chosen {
          -webkit-animation: JUMP .5s ease-in-out -.75s infinite alternate;
          animation: JUMP .9s ease-in-out -.75s infinite alternate;
          position: relative;

          @-webkit-keyframes JUMP {
            0% {
              -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
            }
            100% {
              -webkit-transform: translateY(5px);
              transform: translateY(5px);
            }
          }
        }
      }

      .smiley-input {
        visibility: hidden;
        opacity: 0;
      }
    }
    &.--negative,
    &.--positive,
    &.--end {
      visibility: hidden;
      opacity: 0;
      z-index: -9999;
      transition: all .6s ease-in-out;

      &.active {
        visibility: visible;
        opacity: 1;
        display: flex;
        z-index: 1;
      }

      .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;

        .card {
          flex-basis: calc(25% - 65px);
          padding: 10px;
          background-color: #fff;
          -webkit-box-shadow: -1px 4px 10px 0px rgba(0,0,0,0.12);
          -moz-box-shadow: -1px 4px 10px 0px rgba(0,0,0,0.12);
          box-shadow: -1px 4px 10px 0px rgba(0,0,0,0.12);
          border-radius: 10px;
          user-select: none;
          cursor: pointer;

          label {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 25px;
            padding-bottom: 25px;
            width: 100%;
            margin: 0px;
            cursor: pointer;

            img {
              height: 125px;
              width: auto;
            }

            p {
              font-size: 32px;
              color: #646464;
              margin-top: 50px;
              font-weight: 400;
            }
          }
        }
      }

      &.start {
        .close {
          &.timer {
            &:before {
              -webkit-animation: REDUCE 12.5s 1 linear;
              animation: REDUCE 12.5s 1 linear;
            }
          }
        }
      }
    }
    &.hidden {
      opacity: 0;
      visibility: hidden;
      z-index: -9999;
    }
  }
}

.close {
  &.timer {
    width: 135px;
    height: 40px;
    position: relative;
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url('../img/cross-red.svg');
    background-position: 55px center;
    background-size: 25px 25px;
    background-repeat: no-repeat;

    -webkit-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.12);
    box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.12);

    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: $negativeRed;
      width: 100%;
      height: 40px;
      background-image: url('../img/cross.svg');
      background-position: 55px center;
      background-size: 25px 25px;
      background-repeat: no-repeat;
    }
    @-webkit-keyframes REDUCE {
      0% {
        width: 100%;
      }
      50% {
        width: 50%;
      }
      100% {
        width: 0%;
      }
    }
  }
}

.close {
  &.kiosk {
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
  }
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
