.rating-container {
  .rating-view-wrapper {

    .rating-settings-view {
      display: flex;
      height: 100%;
      width: 100%;

      .rating-settings-sidebar {
        border-right: 1px solid $grayish;
        padding: 30px;
        position: relative;
        top: -30px;
        left: -30px;
        height: 100%;
        width: 30%;
        background: $beige;

        .header {
          color: #333;
          font-size: 24px;
        }
        .subheader {
          color: $turkish;
          font-size: 18px;
        }
      }
      .rating-settings-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .title {
          margin-bottom: 15px;
          &.blue {
            color: $turkish;
          }
        }
        .settings-form {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;

          &__label {
            display: flex;
            flex-direction: column;
            flex-basis: calc(100% / 2 - 30px);
            margin-bottom: 20px;

            .span {
              font-size: 18px;
              margin-bottom: 10px;
              color: $gray;
            }
            .input {
              outline: none;
              height: 30px;
              border: none;
              border-bottom: 1px solid $gray;
              color: #606060;
              font-size: 18px;
              padding-bottom: 5px;
            }
          }
          .actions {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .button {
              font-size: .8889rem;
              color: #fff;
              background-color: #00c5c7;
              border: none;
              outline: none;
              padding: 10px 0;
              width: 150px;
              border-radius: 30px;
              font-family: Lato,sans-serif;
              text-align: center;
              text-decoration: none;
              box-shadow: 2px 4px 10px 0 rgba(0,0,0,.1);
            }
          }
        }
        .settings-content-info {
          margin-bottom: 30px;
        }
      }
    }
  }
}
.settings-feedback {
  position: fixed;
  width: 100%;
  height: 35px;
  left: 0px;
  top: -100px;
  box-shadow: 2px 4px 10px 0 rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 20px;
  transition: all .3s ease-in-out;

  &.active {
    top: 0px;
  }

  &.green {
    background-color: $positiveGreen;
  }
  &.red {

    background-color: $negativeRed;
  }
}
