.rating-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .error {
    color: $negativeRed;
  }

  .rating-view-wrapper {
    transform: scale(1.1);
    width: auto;
    height: 65vh;
    background-color: $white;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;

    .view-title {
      font-size: 26px;
      text-align: center;
      width: 100%;
      color: #333;
      font-weight: bold;
    }

    .rating-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;

      .rating-form__title {
        font-size: 24px;
        margin-bottom: 30px;

        &.--red {
          color: $negativeRed;
          margin-bottom: 5px;
          font-weight: bold;
        }
      }
      .rating-form__subtitle {
        margin-bottom: 50px;
        color: $gray;
      }
      .rating-form__label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 75%;
        margin-bottom: 40px;
        font-size: 18px;
      }
      .rating-form-label__span {
        position: absolute;
        left: 0px;
        top: 0px;
        color: $gray;
        transition: all .3s ease-in-out;
        user-select: none;

        &.small {
          top: -24px;
          font-size: 15px;
        }
      }
      .rating-form-label__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $gray;
        height: 22px;
        outline: none;
        font-size: 18px;
        padding-bottom: 5px;
      }

      .rating-form__submit {
        background: none;
        border: none;
        background-image: url('../img/button-bg.svg');
        width: 120px;
        height: 35px;
        background-repeat: no-repeat;
        color: #606060;
        position: absolute;
        bottom: 0px;
      }
    }

    .rating-view-loading {
      width: 100%;
      height: 100%;
      min-width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.hide {
        display: none;
      }

      img {
        animation: spin 1.2s infinite linear;
      }

      @keyframes spin {
        from {transform: rotate(0deg)}
        to {transform: rotate(360deg)}
      }
    }

    .rating-login-view {
      flex-direction: column;
      align-items: center;
      height: 100%;

      .wehappy-logo {
        width: 40%;
      }

      &.hide {
        display: none;
      }

      &.inactive {
        display: none;
      }
    }

    .rating-setup-view {
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 300px;

      .rating-form {
        height: 80%;
      }

      &.hide {
        display: none;
      }
      &.inactive {
        display: none;
      }
    }
    .action {
      &.continue {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 45px;
        background-color: $turkish;
        color: $white;
        text-align: center;
        line-height: 45px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        border-radius: 0px 0px 10px 10px;
        outline: none;
        transition: all .3s ease-in-out;
      }

      &.invalid {
        background-color: $gray;
      }
    }
  }
}
