* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important; }

.float-wehappy-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto; }

.login-modal {
  z-index: 101; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  transition: all .9s ease-in-out; }
  .overlay.hide {
    opacity: 0;
    visibility: hidden; }
  .overlay .lock {
    display: none; }
  .overlay.show {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8); }
    .overlay.show.lock {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      user-select: none; }
      .overlay.show.lock .lock {
        display: flex;
        width: 400px;
        height: 550px;
        display: flex;
        background-color: #fff;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        overflow: hidden; }
        .overlay.show.lock .lock p {
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 22px;
          text-align: center;
          font-weight: lighter; }
        .overlay.show.lock .lock .keys {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 20px;
          padding-bottom: 15px; }
          .overlay.show.lock .lock .keys__key {
            width: 20px;
            height: 20px;
            background-color: #C2C8CE;
            margin-right: 25px;
            border-radius: 100%; }
            .overlay.show.lock .lock .keys__key:nth-last-of-type(1) {
              margin-right: 0px; }
            .overlay.show.lock .lock .keys__key.pop {
              -webkit-animation: pop .3s 1;
              /* Safari 4.0 - 8.0 */
              animation: pop .3s 1;
              background-color: #00C5C7; }
            .overlay.show.lock .lock .keys__key.wrong {
              -webkit-animation: wrong .5s 1;
              /* Safari 4.0 - 8.0 */
              animation: wrong .5s 1; }
@keyframes pop {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
@keyframes wrong {
  0% {
    background-color: #e84918;
    transform: scale(1); }
  50% {
    background-color: #e84918;
    transform: scale(1.3); }
  100% {
    background-color: #e84918;
    transform: scale(1); } }
        .overlay.show.lock .lock .buttons {
          height: 80%;
          padding: 50px;
          padding-top: 25px;
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-content: space-between; }
          .overlay.show.lock .lock .buttons__button {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            margin-bottom: 15px;
            cursor: pointer;
            transition: all .1s ease-out;
            -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1); }
            .overlay.show.lock .lock .buttons__button.arrow, .overlay.show.lock .lock .buttons__button.empty {
              box-shadow: none; }
            .overlay.show.lock .lock .buttons__button.active {
              box-shadow: none;
              background-color: #00C5C7;
              color: #fff;
              -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 197, 199, 0.2);
              -moz-box-shadow: 3px 4px 10px 0px rgba(0, 197, 199, 0.2);
              box-shadow: 3px 4px 10px 0px rgba(0, 197, 199, 0.2); }
        .overlay.show.lock .lock:before {
          content: '';
          display: block;
          height: 5px;
          width: 100%;
          background-color: #e84918;
          position: absolute;
          bottom: 0px;
          transform: rotate(360deg); }
        .overlay.show.lock .lock.start:before {
          -webkit-animation: timer 10s 1;
          /* Safari 4.0 - 8.0 */
          animation: timer 10s 1; }
@keyframes timer {
  from {
    width: 100%; }
  to {
    width: 0%; } }
      .overlay.show.lock .close {
        margin-top: 100px;
        width: 165px;
        height: 45px;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center; }
        .overlay.show.lock .close img {
          z-index: 2;
          width: 25px;
          height: 25px; }
        .overlay.show.lock .close:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: #e84918;
          position: absolute;
          z-index: 1;
          background-image: url("../img/cross.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 25px 25px; }
        .overlay.show.lock .close.start:before {
          -webkit-animation: timer 10s 1 linear;
          /* Safari 4.0 - 8.0 */
          animation: timer 10s 1 linear; }
@keyframes timer {
  from {
    width: 100%; }
  to {
    width: 0%; } }
.rating-login-view {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .rating-login-view__form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px .5% 0px;
    box-sizing: border-box; }
    .rating-login-view__form .login-form {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .rating-login-view__form .login-form__greeting {
        font-size: 24px;
        line-height: 40px;
        color: rgba(23, 193, 255, 0.72);
        margin-bottom: 15%; }
        .rating-login-view__form .login-form__greeting .break {
          display: block; }
        .rating-login-view__form .login-form__greeting .large {
          font-size: 46px;
          color: #17C1FF; }
      .rating-login-view__form .login-form__username {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 55px;
        width: 80%; }
        .rating-login-view__form .login-form__username .input-username {
          border: none;
          border-bottom: 1px solid #17C1FF;
          padding: 10px 0px;
          font-size: 16px;
          outline: none;
          color: #B2B2B2; }
          .rating-login-view__form .login-form__username .input-username::placeholder {
            color: #B2B2B2; }
      .rating-login-view__form .login-form__password {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 30px;
        width: 80%; }
        .rating-login-view__form .login-form__password .input-password {
          border: none;
          border-bottom: 1px solid #17C1FF;
          padding: 10px 0px;
          font-size: 16px;
          outline: none;
          color: #B2B2B2; }
          .rating-login-view__form .login-form__password .input-password::placeholder {
            color: #B2B2B2; }
      .rating-login-view__form .login-form__submit {
        border-radius: 30px;
        padding: 8px 25px;
        color: #fff;
        font-size: 16px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17c1ff+0,3da2fa+100 */
        background: #17c1ff;
        /* Old browsers */
        background: -moz-linear-gradient(left, #17c1ff 0%, #3da2fa 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #17c1ff 0%, #3da2fa 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #17c1ff 0%, #3da2fa 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17c1ff', endColorstr='#3da2fa',GradientType=1 );
        /* IE6-9 */
        border: none;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16); }
  .rating-login-view__image {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("http://via.placeholder.com/1000x1000");
    background-size: cover; }

.rating-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 5%;
  box-sizing: border-box; }
  .rating-view #rate-form {
    width: 100%;
    height: 100%;
    position: relative; }
  .rating-view .headline {
    color: #606060;
    margin-bottom: 10%;
    font-size: 5em;
    font-weight: 600;
    width: 85%;
    text-align: center;
    letter-spacing: 1px;
    user-select: none; }
  .rating-view__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; }
    .rating-view__content .smileys {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: row-reverse; }
    .rating-view__content label {
      position: relative;
      margin: 20px;
      width: 25%; }
      .rating-view__content label .smiley-span {
        width: 100%;
        height: auto;
        display: flex; }
        .rating-view__content label .smiley-span.hide {
          display: none; }
        .rating-view__content label .smiley-span img {
          display: block;
          width: 100%;
          height: 100%;
          user-select: none; }
        .rating-view__content label .smiley-span.chosen {
          -webkit-animation: JUMP .5s ease-in-out -.75s infinite alternate;
          animation: JUMP .9s ease-in-out -.75s infinite alternate;
          position: relative; }
@-webkit-keyframes JUMP {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
      .rating-view__content label .smiley-input {
        visibility: hidden;
        opacity: 0; }
    .rating-view__content.--negative, .rating-view__content.--positive, .rating-view__content.--end {
      visibility: hidden;
      opacity: 0;
      z-index: -9999;
      transition: all .6s ease-in-out; }
      .rating-view__content.--negative.active, .rating-view__content.--positive.active, .rating-view__content.--end.active {
        visibility: visible;
        opacity: 1;
        display: flex;
        z-index: 1; }
      .rating-view__content.--negative .cards, .rating-view__content.--positive .cards, .rating-view__content.--end .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto; }
        .rating-view__content.--negative .cards .card, .rating-view__content.--positive .cards .card, .rating-view__content.--end .cards .card {
          flex-basis: calc(25% - 65px);
          padding: 10px;
          background-color: #fff;
          -webkit-box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.12);
          -moz-box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.12);
          border-radius: 10px;
          user-select: none;
          cursor: pointer; }
          .rating-view__content.--negative .cards .card label, .rating-view__content.--positive .cards .card label, .rating-view__content.--end .cards .card label {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 25px;
            padding-bottom: 25px;
            width: 100%;
            margin: 0px;
            cursor: pointer; }
            .rating-view__content.--negative .cards .card label img, .rating-view__content.--positive .cards .card label img, .rating-view__content.--end .cards .card label img {
              height: 125px;
              width: auto; }
            .rating-view__content.--negative .cards .card label p, .rating-view__content.--positive .cards .card label p, .rating-view__content.--end .cards .card label p {
              font-size: 32px;
              color: #646464;
              margin-top: 50px;
              font-weight: 400; }
      .rating-view__content.--negative.start .close.timer:before, .rating-view__content.--positive.start .close.timer:before, .rating-view__content.--end.start .close.timer:before {
        -webkit-animation: REDUCE 12.5s 1 linear;
        animation: REDUCE 12.5s 1 linear; }
    .rating-view__content.hidden {
      opacity: 0;
      visibility: hidden;
      z-index: -9999; }

.close.timer {
  width: 135px;
  height: 40px;
  position: relative;
  margin-top: 100px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("../img/cross-red.svg");
  background-position: 55px center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.12); }
  .close.timer:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #e84918;
    width: 100%;
    height: 40px;
    background-image: url("../img/cross.svg");
    background-position: 55px center;
    background-size: 25px 25px;
    background-repeat: no-repeat; }
@-webkit-keyframes REDUCE {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 0%; } }
.close.kiosk {
  width: 100px;
  height: 100px;
  text-indent: -9999px;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px; }

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; }

.rating-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .rating-container .error {
    color: #e84918; }
  .rating-container .rating-view-wrapper {
    transform: scale(1.1);
    width: auto;
    height: 65vh;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px; }
    .rating-container .rating-view-wrapper .view-title {
      font-size: 26px;
      text-align: center;
      width: 100%;
      color: #333;
      font-weight: bold; }
    .rating-container .rating-view-wrapper .rating-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center; }
      .rating-container .rating-view-wrapper .rating-form .rating-form__title {
        font-size: 24px;
        margin-bottom: 30px; }
        .rating-container .rating-view-wrapper .rating-form .rating-form__title.--red {
          color: #e84918;
          margin-bottom: 5px;
          font-weight: bold; }
      .rating-container .rating-view-wrapper .rating-form .rating-form__subtitle {
        margin-bottom: 50px;
        color: #C2C8CE; }
      .rating-container .rating-view-wrapper .rating-form .rating-form__label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 75%;
        margin-bottom: 40px;
        font-size: 18px; }
      .rating-container .rating-view-wrapper .rating-form .rating-form-label__span {
        position: absolute;
        left: 0px;
        top: 0px;
        color: #C2C8CE;
        transition: all .3s ease-in-out;
        user-select: none; }
        .rating-container .rating-view-wrapper .rating-form .rating-form-label__span.small {
          top: -24px;
          font-size: 15px; }
      .rating-container .rating-view-wrapper .rating-form .rating-form-label__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #C2C8CE;
        height: 22px;
        outline: none;
        font-size: 18px;
        padding-bottom: 5px; }
      .rating-container .rating-view-wrapper .rating-form .rating-form__submit {
        background: none;
        border: none;
        background-image: url("../img/button-bg.svg");
        width: 120px;
        height: 35px;
        background-repeat: no-repeat;
        color: #606060;
        position: absolute;
        bottom: 0px; }
    .rating-container .rating-view-wrapper .rating-view-loading {
      width: 100%;
      height: 100%;
      min-width: 300px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .rating-container .rating-view-wrapper .rating-view-loading.hide {
        display: none; }
      .rating-container .rating-view-wrapper .rating-view-loading img {
        animation: spin 1.2s infinite linear; }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .rating-container .rating-view-wrapper .rating-login-view {
      flex-direction: column;
      align-items: center;
      height: 100%; }
      .rating-container .rating-view-wrapper .rating-login-view .wehappy-logo {
        width: 40%; }
      .rating-container .rating-view-wrapper .rating-login-view.hide {
        display: none; }
      .rating-container .rating-view-wrapper .rating-login-view.inactive {
        display: none; }
    .rating-container .rating-view-wrapper .rating-setup-view {
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 300px; }
      .rating-container .rating-view-wrapper .rating-setup-view .rating-form {
        height: 80%; }
      .rating-container .rating-view-wrapper .rating-setup-view.hide {
        display: none; }
      .rating-container .rating-view-wrapper .rating-setup-view.inactive {
        display: none; }
    .rating-container .rating-view-wrapper .action.continue {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 45px;
      background-color: #00C5C7;
      color: #ffffff;
      text-align: center;
      line-height: 45px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      border-radius: 0px 0px 10px 10px;
      outline: none;
      transition: all .3s ease-in-out; }
    .rating-container .rating-view-wrapper .action.invalid {
      background-color: #C2C8CE; }

.rating-container .rating-view-wrapper .rating-settings-view {
  display: flex;
  height: 100%;
  width: 100%; }
  .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-sidebar {
    border-right: 1px solid #f6f6fa;
    padding: 30px;
    position: relative;
    top: -30px;
    left: -30px;
    height: 100%;
    width: 30%;
    background: #fffdfd; }
    .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-sidebar .header {
      color: #333;
      font-size: 24px; }
    .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-sidebar .subheader {
      color: #00C5C7;
      font-size: 18px; }
  .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .title {
      margin-bottom: 15px; }
      .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .title.blue {
        color: #00C5C7; }
    .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .settings-form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .settings-form__label {
        display: flex;
        flex-direction: column;
        flex-basis: calc(100% / 2 - 30px);
        margin-bottom: 20px; }
        .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .settings-form__label .span {
          font-size: 18px;
          margin-bottom: 10px;
          color: #C2C8CE; }
        .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .settings-form__label .input {
          outline: none;
          height: 30px;
          border: none;
          border-bottom: 1px solid #C2C8CE;
          color: #606060;
          font-size: 18px;
          padding-bottom: 5px; }
      .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .settings-form .actions {
        width: 100%;
        display: flex;
        justify-content: flex-end; }
        .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .settings-form .actions .button {
          font-size: .8889rem;
          color: #fff;
          background-color: #00c5c7;
          border: none;
          outline: none;
          padding: 10px 0;
          width: 150px;
          border-radius: 30px;
          font-family: Lato,sans-serif;
          text-align: center;
          text-decoration: none;
          box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1); }
    .rating-container .rating-view-wrapper .rating-settings-view .rating-settings-content .settings-content-info {
      margin-bottom: 30px; }

.settings-feedback {
  position: fixed;
  width: 100%;
  height: 35px;
  left: 0px;
  top: -100px;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  transition: all .3s ease-in-out; }
  .settings-feedback.active {
    top: 0px; }
  .settings-feedback.green {
    background-color: #58bf5d; }
  .settings-feedback.red {
    background-color: #e84918; }

/*# sourceMappingURL=style.css.map */
