$turkish: #00C5C7;
$gray: #C2C8CE;
$grayish: #f6f6fa;
$negativeRed: #e84918;
$positiveGreen: #58bf5d;
$white: #ffffff;
$beige: #fffdfd;

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
}

.float-wehappy-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto;
}

.login-modal {
  z-index: 101;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  transition: all .9s ease-in-out;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  .lock {
    display: none;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0,0,0,.8);
    &.lock {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      user-select: none;

      .lock {
        display: flex;
        width: 400px;
        height: 550px;
        display: flex;
        background-color: #fff;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        p {
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 22px;
          text-align: center;
          font-weight: lighter;
        }

        .keys {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 20px;
          padding-bottom: 15px;

          &__key {
            width: 20px;
            height: 20px;
            background-color: $gray;
            margin-right: 25px;
            border-radius: 100%;

            &:nth-last-of-type(1) {
              margin-right: 0px;
            }

            &.pop {
              -webkit-animation: pop .3s 1; /* Safari 4.0 - 8.0 */
              animation: pop .3s 1;
              background-color: $turkish;
            }

            &.wrong {
              -webkit-animation: wrong .5s 1; /* Safari 4.0 - 8.0 */
              animation: wrong .5s 1;
            }

            @keyframes pop {
              0%   { transform: scale(1); }
              50%  { transform: scale(1.3); }
              100% { transform: scale(1); }
            }

            @keyframes wrong {
              0%   {
                background-color: $negativeRed;
                transform: scale(1);
              }
              50% {
                background-color: $negativeRed;
                transform: scale(1.3);
              }
              100% {
                background-color: $negativeRed;
                transform: scale(1);
              }
            }
          }
        }
        .buttons {
          height: 80%;
          padding: 50px;
          padding-top: 25px;
          display: flex;
          flex-flow: row wrap;
          align-items: flex-start;
          justify-content: space-between;

          &__button {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            margin-bottom: 15px;
            cursor: pointer;
            transition: all .1s ease-out;

            -webkit-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.1);
            box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.1);

            &.arrow, &.empty {
              box-shadow: none;
            }

            &.active {
              box-shadow: none;
              background-color: $turkish;
              color: #fff;

              -webkit-box-shadow: 3px 4px 10px 0px rgba(0,197,199,0.2);
              -moz-box-shadow: 3px 4px 10px 0px rgba(0,197,199,0.2);
              box-shadow: 3px 4px 10px 0px rgba(0,197,199,0.2);
            }
          }
        }

        &:before {
          content: '';
          display: block;
          height: 5px;
          width: 100%;
          background-color: $negativeRed;
          position: absolute;
          bottom: 0px;
          transform: rotate(360deg);
        }

        &.start {
          &:before {
            -webkit-animation: timer 10s 1; /* Safari 4.0 - 8.0 */
            animation: timer 10s 1;

            @keyframes timer {
              from { width: 100%; }
              to { width: 0%; }
            }
          }
        }
      }

      .close {
        margin-top: 100px;
        width: 165px;
        height: 45px;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        justify-content: center;
        align-items: center;

        img {
          z-index: 2;
          width: 25px;
          height: 25px;
        }

        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: $negativeRed;
          position: absolute;
          z-index: 1;
          background-image: url("../img/cross.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 25px 25px;
        }
        &.start {

          &:before {
            -webkit-animation: timer 10s 1 linear; /* Safari 4.0 - 8.0 */
            animation: timer 10s 1 linear;

            @keyframes timer {
              from { width: 100%; }
              to { width: 0%; }
            }
          }
        }
      }
    }
  }
}

@import "login";
@import "rate";
@import "setup";
@import "settings";
